Source: libpdl-dsp-windows-perl
Section: perl
Priority: optional
Maintainer: John Lapeyre <jlapeyre@cpan.org>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: pdl,
 perl,
 perl-modules
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/PDL-DSP-Windows/

Package: libpdl-dsp-windows-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 pdl,
 perl-modules
Description: Windowing functions for signal processing
 PDL::DSP::Windows provides symmetric and periodic (DFT-symmetric) window
 functions for use in filtering and spectral analysis. It provides a
 high-level access subroutine /window. This functional interface is sufficient
 for getting the window samples. For analysis and plotting, etc. an object
 oriented interface is provided. The functional subroutines must be either
 explicitly exported, or fully qualified. In this document, the word function
 refers only to the mathematical window functions, while the word subroutine
 is used to describe code.
